In [1]:
class A:
    def __init__(self, a):
        self.a = a
        
class B(A):
    def __init__(self, b):
        super(B, self).__init__(b)
        
ob = B(10)

ob.a

10

In [2]:
def set(p):
    return p


class A:
    def __init__(self, a):
        self.a = a
        
class B(A):
    def __init__(self, b):
        super().__init__(b)
        self.b = set(b)
        
ob = B(10)

display(
    ob.a,
    ob.b
)

10

10

In [3]:
def set(p):
    return p


class A:
    def __init__(self, a):
        self.a = a
        
class B(A):
    def __init__(self, b):
        super().__init__(b)
        self.b = set(b)
        
ob = B(10)

display(ob.a, ob.b)

10

10

In [4]:
from datetime import datetime

print(datetime.now())
print(datetime.now().time())
# print(datetime.now().strftime())
# # TypeError: strftime() missing required argument 'format' (pos 1)
print(datetime.now().strftime('%m_%d_%Y_%H_%M_%S'))
print(f"{datetime.now().strftime('%m_%d_%Y_%H_%M_%S')}")

print(type(datetime.now().strftime('%m_%d_%Y_%H_%M_%S')))
print(type(f"{datetime.now().strftime('%m_%d_%Y_%H_%M_%S')}"))

2023-03-18 22:01:37.046858
22:01:37.046858
03_18_2023_22_01_37
03_18_2023_22_01_37
<class 'str'>
<class 'str'>

In [5]:
from datetime import datetime
import sys
import pandas as pd

try:
    print(datetime.now().str)
    pd.re(45)
    
except:
    tb = sys.exc_info()
    print(tb)
    print()
    print(tb[0])
    print()
    print(tb[1])

(<class 'AttributeError'>, AttributeError("'datetime.datetime' object has no attribute 'str'"), <traceback object at 0x00000161B9CDC700>)

<class 'AttributeError'>

'datetime.datetime' object has no attribute 'str'

In [9]:
import pandas as pd

data = {'fname' : ['piyush', 'eesha', 'anil'],
        'lname' : ['limkar', 'borkar', 'mali']}

df = pd.DataFrame(data)
print(df)

df.to_csv('''C:\\Users\\piyus\\GoogleDrive\\Data_Science\\Projects\
\Temp\\pkl_ml_project\\documentation\\New folder\\df.csv''')

df.to_csv('''C:\\Users\\piyus\\GoogleDrive\\Data_Science\\Projects\
\Temp\\pkl_ml_project\\documentation\\New folder\\df1.csv''',
          index = False, header = False)
print(df)

    fname   lname
0  piyush  limkar
1   eesha  borkar
2    anil    mali
    fname   lname
0  piyush  limkar
1   eesha  borkar
2    anil    mali